*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    margin: 5px 0px 0px 5px;
    border: 2px solid darkblue;
    width: 400px;
    height: 400px;
    position: relative;
}
.circle1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    transform: translate(0px,180px);
}
.circle2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    transform: translate(0px,180px);
}
.circle3{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    transform: translate(0px,180px);
}
.circle4{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    transform: translate(0px,180px);
}
.circle5{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    transform: translate(0px,180px);
}
.box:hover>.circle1{
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: 2s;
    animation-iteration-count: infinite;
}
.box:hover>.circle2{
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.1s;
}
.box:hover>.circle3{
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: 2s;
    animation-delay: 0.2s;
}
.box:hover>.circle4{
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: 2s;
    animation-delay: 0.3s;
}
.box:hover>.circle5{
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: 2s;
    animation-delay: 0.4s;
}
@keyframes move {
    0%{
        transform: translate(0px,150px);
    }
    25%{
        transform: translate(150px,0px);
    }
    50%{
        transform: translate(350px,150px);
    }
    75%{
        transform: translate(150px,350px);
    }
    100%{
        transform: translate(0px,150px);
    }
}